body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #0F0;
}

header {
    background-color: #111;
    text-align: center;
    padding: 1rem;
}

.tagline {
    font-style: italic;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #222;
}

nav ul li {
    padding: 1rem;
}

nav ul li a {
    color: #0F0;
    text-decoration: none;
}

.main-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #0F0;
}

.hashtags {
    margin-top: 1rem;
}

.highlight {
    background-color: #333;
    color: #0F0;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 3px;
}

.contact {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #0F0;
}

.contact-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: #0F0;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #555;
}

.contact ul {
    list-style: none;
}

@keyframes terminal-blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animated-name::after {
    content: '_';
    display: inline-block;
    width: 8px;
    height: 1.2em;
    margin-left: 3px;
    font-size: 1.2em;
    animation: terminal-blink 0.8s infinite;
}

@keyframes terminal-type {
    from {
        width: 0;
    }
}

.terminal-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.08em solid #0F0;
    animation: terminal-type 2s steps(10, end) forwards;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #0F0;
}
